<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <h1>Lista de Productos</h1>
    <ul id="product-list">
      {{#each products}}
        <li>{{this.description}} - ${{this.price}} ({{this.quantity}} en stock)</li>
      {{/each}}
    </ul>
    <a href="/realtimeproducts">Ver Productos en Tiempo Real</a>
  </body>
</html>