<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Productos en Tiempo Real</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
      const socket = io();
      socket.on("connect", () => {
        console.log("Conectado a WebSocket");
      });

      function addProduct(event) {
        event.preventDefault();
        const productName = document.getElementById("product-name").value;
        const productDescription = document.getElementById("product-description").value;
        const productCode = document.getElementById("product-code").value;
        const productPrice = document.getElementById("product-price").value;
        const productStock = document.getElementById("product-stock").value;
        const productCategory = document.getElementById("product-category").value;

        socket.emit("addProduct", {
          title: productName,   
          description: productDescription,
          code: productCode,
          price: productPrice,
          stock: productStock,
          category: productCategory
        });

        document.getElementById("product-form").reset();
      }

      socket.on("updateProducts", (products) => {
        const productList = document.getElementById("product-list");
        productList.innerHTML = "";

        products.forEach(product => {
          const li = document.createElement("li");
          li.textContent = `${product.description} - $${product.price} (${product.stock} en stock)`;
          const deleteButton = document.createElement("button");
          deleteButton.textContent = "Eliminar";
          deleteButton.onclick = () => deleteProduct(product.id);
          li.appendChild(deleteButton);
          productList.appendChild(li);
        });
      });

      function deleteProduct(productId) {
        socket.emit("deleteProduct", productId);
      }

    </script>
  </head>
  <body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="product-list">
      {{#each products}}
        <li>
          {{this.description}} - ${{this.price}} ({{this.stock}} en stock)
          <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
        </li>
      {{/each}}
    </ul>
    <form id="product-form" onsubmit="addProduct(event)">
      <input type="text" id="product-name" placeholder="Nombre" required />
      <input type="text" id="product-description" placeholder="Descripción" required />
      <input type="text" id="product-code" placeholder="Código" required />
      <input type="number" id="product-price" placeholder="Precio" required />
      <input type="number" id="product-stock" placeholder="Stock" required />
      <input type="text" id="product-category" placeholder="Categoría" required />
      <button type="submit">Agregar Producto</button>
    </form>
    <a href="/">home</a>
  </body>
</html>